<a href="https://colab.research.google.com/github/sagar-innovatics/Python_Basics/blob/main/week_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Boolean Expressions and Logical Operators

In [2]:
x = 17
if x > 10:
  print("x is greater than 10")

x is greater than 10

In [3]:
x = 36
y = 36
if x == y:
  print("x is equal to y")
else:
  print("x is not equal to y")

x is equal to y

In [4]:
x = True
y = False
if x or y:
  print("x or y is true")
else:
  print("x or y is false")

x or y is true

The in and not in Operators

In [9]:
if 5 in [1, 2, 3, 4, 5]:
  print("5 is present in the list")
else:
  print("5 is not present in the list")

5 is present in the list

In [10]:
if "a" in "banana":
  print("a is present in the string")
else:
  print("a is not present in the string")

a is present in the string

In [13]:
numbers = [1, 2, 3, 4, 5]
if 6 not in numbers:
  print("6 is not present in the list")
else:
  print("6 is present in the list")

6 is not present in the list

Precedence of Operators

The expression 1 + 2 * 3 is evaluated as follows:

The multiplication operator is evaluated first, which gives the value 6.
The addition operator is then evaluated, which gives the value 7.
The result of the expression is then printed to the console.

In [14]:
# Evaluate the expression 1 + 2 * 3
result = 1 + 2 * 3

# Print the result
print(result)

7

The expression (1 + 2) * 3 is evaluated as follows:

The expression inside the parentheses is evaluated first, which gives the value 3.
The multiplication operator is then evaluated, which gives the value 9.
The result of the expression is then printed to the console.

In [15]:
# Evaluate the expression (1 + 2) * 3
result = (1 + 2) * 3

# Print the result
print(result)

9

Conditional Execution

The <condition> is a Boolean expression that is evaluated. If the condition is True, then the <block of code> is executed. If the condition is False, then the <block of code> is skipped.

Here is an example of how the if statement can be used:

In [16]:
# Check if the number is even
number = 10

if number % 2 == 0:
  print("The number is even")
else:
  print("The number is odd")

The number is even

Unary Selection, Nested Conditionals, and Chained Conditionals

Unary selection is a type of conditional statement that allows you to execute different code based on the value of a single variable. The syntax for a unary selection statement is as follows:

In [17]:
# Check if the number is even
number = 10

if number % 2 == 0:
  print("The number is even")

The number is even

Nested conditionals are a type of conditional statement that allows you to nest one conditional statement inside another. The syntax for a nested conditional statement is as follows:

In [18]:
# Check if the number is even or odd
number = 10

if number % 2 == 0:
  print("The number is even")
else:
  print("The number is odd")

The number is even

Chained conditionals are a type of conditional statement that allows you to chain multiple conditional statements together. The syntax for a chained conditional statement is as follows:

In [19]:
# Check if the number is even and greater than 10
number = 12

if number % 2 == 0 and number > 10:
  print("The number is even and greater than 10")

The number is even and greater than 10

The Accumulator Pattern with Conditionals and Accumulating a Maximum Value10m

In [20]:
# Find the maximum value in a list
numbers = [1, 2, 3, 4, 5]

# Initialize the accumulator to the smallest possible value
max_value = -1

# Iterate over the list
for number in numbers:

    # Update the accumulator if the current number is greater than the current value
    if number > max_value:
        max_value = number

# Print the maximum value
print(max_value)

5